.game-area {
  position: relative;
  width: 600px;
  height: 600px;
  border: 2px solid black;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.snake-dot {
  position: absolute;
  background-color: forestgreen;
  width: 2%;
  height: 2%;
  border-radius: 50%;
}